@charset "UTF-8";

body{
    background-color: lightblue;
}

h1{
    text-align: center;
}

h2{
    text-align:  center;
}
.start {
  width: 300px;
  height: 200px;
  background-color: green;
  font-size: 15pt;
   padding-bottom:  50px;
  margin-top: 10px;
  border: 1px solid white;
  text-align: center;

}
.stop{
     width: 300px;
  height: 200px;
  background-color:orange;
  font-size: 15pt;
  padding-bottom:  50px;
  margin-top: 10px;
  border: 1px solid white;
  text-align: center;
  
}

div{
    text-align: center;
}

